<p>Add Reply</p>
<form class="" action="<%= comment_comments_url(comment) %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

  <label for="">
    <input type="text" name="comment[content]" value="">
  </label>

  <input type="submit" name="" value="Add Comment">
</form>
