li {
  float: left;
  background-color: gray;
  border: 5px solid black;
  width: 90px;
  height: 90px;
  list-style: none;
  cursor: pointer;
}

li:hover {
  background-color: yellow;
}

.o {
  background-color: white;
  cursor: default;
}

.x {
  background-color: aquamarine;
  cursor: default;
}

.x:after {
  content: "x";

}

.o:after {
  content: "o";
}

.x:after, .o:after {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 60px;
  font-family: sans-serif;
  line-height: 80px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.winner-x, .winner-o {
  background: green;
  color: white;
}

.game-over li {
  color: red;
  background: white;
}
