<header class="sections-nav">
  <ul>
    <li><a href="#"></a>World</li>
    <li><a href="#"></a>San Francisco</li>
    <li><a href="#"></a>New York</li>
    <li><a href="#"></a>Bootcamp Prep</li>
    <li><a href="#"></a>Jumpstart</li>
    <li><a href="#"></a>Online</li>
    <li><a href="#"></a>Marketing</li>
    <li><a href="#"></a>Sales</li>
    <li><a href="#"></a>TalentMatch</li>
    <li><a href="#"></a>Alumni</li>
    <li><a href="#"></a>All</li>
  </ul>
</header>

<%= render "shared/search_modal" %>
