h1 {
  display: flex;
  justify-content: center;
  line-height: 20px;
  color: white;
}

body {
  display: flex;
  justify-content: space-around;
}

span, label {
  color: white;
}

span, h1{
  font-family: 'Fjalla One', sans-serif;
}

label {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}

span {
  font-size: 18px;
}

.date {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.clock {
  background-color: orange;
  width: 500px;
  height: auto;
  padding: 10px;
  margin: 8px;
}

.weather {
  background-color: #23aaff;
  color: black;
  width: 500px;
  height: auto;
  margin: 10px;
  padding: 8px;
}

.weather span {
  display: flex;
  justify-content: center;
}

.weather .location {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.autocomplete {
  background-color: #7e57ba;
  color: white;
  width: 225px;
  height: auto;
  margin-right: 10px;
  padding: 8px;
  font-family: 'Source Sans Pro', sans-serif;
  float: right;
}

.autocomplete input, .autocomplete li {
  cursor: pointer;
  margin-left: 50px;
}
